/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- colors
main: 
#A6967C
#ffe3e5

greys:

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 400;
}

/* ****************************** */
/* NAVIGATION SECTION */
/* ****************************** */

.header {
  /* background-color: #a6967c; */
  background-color: #ffe3e5;
  padding: 0 2.4rem;
  height: 6.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 4.4rem;
  height: 4.4rem;
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  color: #a61e4d;
  font-size: 1.6rem;
  font-weight: 600;
}

.nav-bar {
  color: #a61e4d;
  list-style: none;
  font-size: 2.4rem;
  font-weight: 600;

  display: flex;
  gap: 3.6rem;
}

.nav-bar-link:link,
.nav-bar-link:visited {
  text-decoration: none;
  color: #a61e4d;
}

.nav-bar-link:hover,
.nav-bar-link:active {
  transform: translateY(-0.3rem);
}

/* ****************************** */
/* HERO SECTION */
/* ****************************** */
.hero-section {
  background-color: #fff0f6;
  width: 100%;
  padding: 2.4rem 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  color: #a61e4d;
  gap: 2.4rem;
}

.heading {
  font-size: 4.4rem;
  text-align: left;
}

.heading-sub-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

.hero-img-wrapper {
  width: auto;
}

.hero-img {
  width: 65vh;
}

/* ****************************** */
/* PRODUCTS SECTION */
/* ****************************** */

.products {
  display: flex;
  gap: 3.6rem;
  padding: 2.4rem 2.4rem;
  margin-bottom: 3.6rem;
  justify-content: center;
}

.product {
  display: flex;
  border-radius: 0.5rem;
  max-width: 25rem;
  width: 100%;
  gap: 3rem;
  padding: 2.5rem;
  flex-direction: column;
  align-items: center;
  color: #555;
  background-color: #fef1f6;
}

.product-img {
  width: 200px;
  height: 200px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.product-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #a61e4d;
}

.product-details {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.5rem;
  width: 100%;
  font-size: 1.8rem;
}

.product-details li {
  color: #a61e4d;
}

.product-details li:first-child {
  font-size: 2.4rem;
  font-weight: 700;
  color: #a61e4d;
  margin-top: 1rem;
}

.btn {
  color: #a61e4d;
  background-color: #ffe3e5;
  align-self: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.8rem 2.4rem;
  border-radius: 9px;
  border: none;
  transition: filter 0.3s;
}

.btn-product:hover {
  cursor: pointer;
  color: #fff0f6;
  background-color: #a61e4d;
}
